extends ../layouts/base

block variables
  - pageLang = ""
  - pageTitle = "Home"
  - pageDescription = "Page-specific description"
  - pageKeywords = "Page-specific keywords"
  - pageUrl = ""


block body-content
  // $Page header
  header.page-header.js-header
    .page-header__inner
      .page-header__logo
        h1 Bak-one
        | &nbsp;
        span One page flat template
      nav.page-header__nav.js-nav
        ul
          li
            a.page-header__nav-link.js-anchor.js-link.is-active(href='#home') Home
          li
            a.page-header__nav-link.js-anchor.js-link(href='#portfolio') Portfolio
          li
            a.page-header__nav-link.js-anchor.js-link(href='#team') About
          li
            a.page-header__nav-link.js-anchor.js-link(href='#contact') Contact


  // $Promo section
  section#home.promo.js-jumbo
    h2.promo__title
      | We build
      span brand
    p.promo__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    a.promo__btn(href='#') Learn more
    a.promo__go-next.js-anchor(href='#portfolio') Scroll down


  // $Portfolio section
  section#portfolio.portfolio.js-portfolio
    .portfolio__inner
      h2.portfolio__title Portfolio
      p.portfolio__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      nav.portfolio__filter
        ul
          li.portfolio__filter-btn.is-selected.js-filter(data-filter='all') All
          li.portfolio__filter-btn.js-filter(data-filter='web') Web design
          li.portfolio__filter-btn.js-filter(data-filter='graphic') Graphic design
          li.portfolio__filter-btn.js-filter(data-filter='flat') Flat design
      ul.portfolio__content
        li.portfolio__item.js-item(data-cat='all flat')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port1.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Flat design
        li.portfolio__item.js-item(data-cat='all web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port2.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Web design
        li.portfolio__item.js-item(data-cat='all graphic')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port3.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Graphic design
        li.portfolio__item.js-item(data-cat='all graphic web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port4.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Graphic design
        li.portfolio__item.js-item(data-cat='all graphic flat')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port6.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Flat design
        li.portfolio__item.js-item(data-cat='all web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port5.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Web design
        li.portfolio__item.js-item(data-cat='all flat web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port1.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Flat design
        li.portfolio__item.js-item(data-cat='all web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port2.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Web design


  // $Team section
  section#team.team
    .team__inner
      h2.team__title About us
      p.team__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      .team__member
        img(src='static/images/ava1.jpg', alt='Melanie Doe')
        .team__member-info
          h3.team__member-name Melannie Doe
          span.team__member-role Project manager
          p.team__member-descr
            | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        ul.team__member-soc
          li
            a.team__member-icon.fb(href='#') My Facebook
          li
            a.team__member-icon.tw(href='#') Follow me on twitter
          li
            a.team__member-icon.gplus(href='#') My Google+
          li
            a.team__member-icon.db(href='#') I am on Dribble
      .team__member
        img(src='static/images/ava2.jpg', alt='Jhonie Doe')
        .team__member-info
          h3.team__member-name Jhonnie Doe
          span.team__member-role Graphic designer
          p.team__member-descr
            | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        ul.team__member-soc
          li
            a.team__member-icon.fb(href='#') My Facebook
          li
            a.team__member-icon.tw(href='#') Follow me on twitter
          li
            a.team__member-icon.gplus(href='#') My Google+
          li
            a.team__member-icon.db(href='#') I am on Dribble
      .team__member
        img(src='static/images/ava3.jpg', alt='Daniel Doe')
        .team__member-info
          h3.team__member-name Daniel Doe
          span.team__member-role Web designer
          p.team__member-descr Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        ul.team__member-soc
          li
            a.team__member-icon.fb(href='#') My Facebook
          li
            a.team__member-icon.tw(href='#') Follow me on twitter
          li
            a.team__member-icon.gplus(href='#') My Google+
          li
            a.team__member-icon.db(href='#') I am on Dribble


  // $Contact section
  section#contact.contact
    .contact__inner
      h2.contact__title Contact us
      p.contact__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      form.contact__form(action='#', method='post')
        input#name.contact__form-input(type='text', name='name', placeholder='Your name')
        input#email.contact__form-input(type='email', name='email', placeholder='Your email')
        textarea#message.contact__form-tarea(name='message', placeholder='Your message')
        input.contact__form-submit(type='submit', value='Submit')
      .contact__card.vcard
        h3.contact__card-title Information
        .contact__card-item.place
          .fn.org Bak-One Company
          .adr
            .street-address 12345 Hollywood Bvld Street
            span.locality Los Angeles
            | ,
            span.region California
        .contact__card-item.tel
          | +444
          span.type &nbsp;(Phone)&nbsp;
          | 123456
        .contact__card-item.fax.tel
          | +123
          span.type &nbsp;(FAX)&nbsp;
          | 0011223
        a.contact__card-item.email(href='#') info@companyname.com


  // $Page footer
  footer.page-footer
    .page-footer__inner
      span.page-footer__copyright &copy; Copyright 2013 Bak-One | One Page Flat Template
      a.page-footer__gotop.js-anchor(href='#home') Go to top
