@mixin testbg($red: 255, $green: 0, $blue: 0, $alpha: .3){ 
	background-color: rgba($red, $green, $blue, $alpha);
}

@mixin testout($width: 1px, $line-type: solid, $color: #0074d9) { 
	outline: $width $line-type $color;
}

@mixin calc($property, $expression){
	#{$property}: -webkit-calc(#{$expression});
    #{$property}:    -moz-calc(#{$expression});
    #{$property}:         calc(#{$expression});    
}

@mixin media($property, $value){
    @media screen and (#{$property}: #{$value}){
    	@content;
    }
}

@mixin media2($property1, $value1, $property2, $value2){
    @media screen and (#{$property1}: #{$value1}) and (#{$property2}: #{$value2}){
    	@content;
    }
}

@mixin media3($property1, $value1, $property2, $value2, $property3, $value3){
    @media screen and (#{$property1}: #{$value1}) and (#{$property2}: #{$value2}) and (#{$property3}: #{$value3}){
    	@content;
    }
}

@mixin hidentext { 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

 
@mixin clearfix { 

	&:before,
	&:after{ 
		display: block;
		content: '';
		clear: both;
		height: 0;
	}	
}


@mixin opacity($opacity: 0.5) { 
	-webkit-opacity: $opacity;
	-khtml-opacity:  $opacity;
	-moz-opacity:    $opacity;
	opacity:         $opacity;
}


@mixin box-sizing($sizing: border-box) { 
	-webkit-box-sizing: $sizing;
	-moz-box-sizing:    $sizing;
	-ms-box-sizing:     $sizing;
	box-sizing:         $sizing;
}


@mixin size($width:0, $height:0) { 
	width: $width;
	height: $height;
}


@mixin user-select($argument: none) { 
	-webkit-user-select: $argument;
	-moz-user-select:    $argument;
	-ms-user-select:     $argument;
	user-select:         $argument;
}



@mixin bg-cover{ 
	-webkit-background-size: cover;
	background-size:         cover;
}
 
@mixin bg-contain{ 
	-webkit-background-size: contain;
	background-size:         contain;
}

@mixin bg-size($arguments...){
	-webkit-background-size: $arguments;
	        background-size: $arguments;
}

@mixin rounded($radius: 5px) { 
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;
}

@mixin border-radius($top-left: 5px, $top-right: 5px, $bottom-right: 5px, $bottom-left: 5px) { 
	-webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
	-moz-border-radius:    $top-left $top-right $bottom-right $bottom-left;
	border-radius:         $top-left $top-right $bottom-right $bottom-left;
}


@mixin linear-gradient($angle-position: top, $start-color: #fff, $end-color: #000, $fallback-color: $start-color)	{ 
	background: $fallback-color;
	background-image: -webkit-gradient(linear, $angle-position, from($start-color), to($end-color));
	background:                  -webkit-linear-gradient($angle-position, $start-color, $end-color);
	background:                     -moz-linear-gradient($angle-position, $start-color, $end-color);
	background:                      -ms-linear-gradient($angle-position, $start-color, $end-color);
	background:                       -o-linear-gradient($angle-position, $start-color, $end-color);
	background:                          linear-gradient($angle-position, $start-color, $end-color);
}

//This mixin was created by css-tricks.com with some fixes from Paul d'Aoust

@mixin stripes-gradient($colors, $direction: "to right", $fallback-color: #fff) {  
    $stripe-width: 100% / length($colors);
    $auto:         if( type-of(nth($colors, 1)) == list, false, true );
    $gradient:     ();
    
    @for $i from 1 through length($colors) {
        $item: nth($colors, $i);
        $dump: ();
      
        @if $auto == true {
            $dump: $item $stripe-width * ($i - 1), $item $stripe-width * $i;
        }
      
        @else {   
            @if $i > 1 {
                $previous-item: nth($colors, $i - 1);
                $dump: append($dump, nth($item, 1) nth($previous-item, 2));
            }
            $dump: append($dump, $item);
        }

        $gradient: join($gradient, $dump, comma);
    }		

	background:	$fallback-color;
	background:                  -webkit-linear-gradient($direction, $gradient);
	background:                     -moz-linear-gradient($direction, $gradient);
	background:                      -ms-linear-gradient($direction, $gradient);
	background:                       -o-linear-gradient($direction, $gradient);
	background:                          linear-gradient($direction, $gradient);
} 
 

@mixin box-shadow($hoff: 1px, $voff: 1px, $blur: 2px, $spread: 0, $color: #000){ 
	-webkit-box-shadow: $hoff $voff $blur $spread $color;
	-moz-box-shadow:    $hoff $voff $blur $spread $color;
	box-shadow:         $hoff $voff $blur $spread $color;
}
 
@mixin inset-box-shadow($hoff: 1px, $voff: 1px, $blur: 2px, $spread: 0, $color: #000){ 
	-webkit-box-shadow: inset $hoff $voff $blur $spread $color;
	-moz-box-shadow:    inset $hoff $voff $blur $spread $color;
	box-shadow:         inset $hoff $voff $blur $spread $color;
}

@mixin multiple-box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow:    $shadow;       
	box-shadow:         $shadow;
}


@mixin animation($animation-name:first, $animation-duration:1s, $animation-tfunction:linear, $animation-delay:0s, $animation-iteration:infinite, $animation-direction:normal, $animation-play-state:running){
	-webkit-animation: $animation-name $animation-duration $animation-tfunction $animation-delay $animation-iteration $animation-direction;
			animation: $animation-name $animation-duration $animation-tfunction $animation-delay $animation-iteration $animation-direction;
	-webkit-animation-play-state: $animation-play-state;
		    animation-play-state: $animation-play-state;	
}


@mixin transform($arguments) { 
	-webkit-transform: $arguments;
	-moz-transform:    $arguments;
	-ms-transform:     $arguments;
	-o-transform:      $arguments;
	transform:         $arguments;	
}

@mixin t-origin($X-axis:50%, $Y-axis:50%, $Z-axis:0){
	-webkit-transform-origin: $X-axis $Y-axis $Z-axis;
       -moz-transform-origin: $X-axis $Y-axis $Z-axis;
        -ms-transform-origin: $X-axis $Y-axis $Z-axis;
         -o-transform-origin: $X-axis $Y-axis $Z-axis;
            transform-origin: $X-axis $Y-axis $Z-axis;
}
	
@mixin rotate($rotate-angle: 0){ 
	-webkit-transform: rotate($rotate-angle);
	-moz-transform:    rotate($rotate-angle);
	-ms-transform:     rotate($rotate-angle);
	-o-transform:      rotate($rotate-angle);
	transform:         rotate($rotate-angle);
}


@mixin scale($scale: 1){ 
	-webkit-transform: scale($scale);
	-moz-transform:    scale($scale);
	-ms-transform:     scale($scale);
	-o-transform:      scale($scale);
	transform:         scale($scale);
}
 
@mixin scaleXY($scaleX: 1, $scaleY: 1){ 
	-webkit-transform: scale($scaleX, $scaleY);
	-moz-transform:    scale($scaleX, $scaleY);
	-ms-transform:     scale($scaleX, $scaleY);
	-o-transform:      scale($scaleX, $scaleY);
	transform:         scale($scaleX, $scaleY);
}
 
@mixin scaleX($scaleX: 1){ 
	-webkit-transform: scaleX($scaleX);
	-moz-transform:    scaleX($scaleX);
	-ms-transform:     scaleX($scaleX);
	-o-transform:      scaleX($scaleX);
	transform:         scaleX($scaleX);
}
 
@mixin scaleY($scaleY: 1){ 
	-webkit-transform: scaleY($scaleY);
	-moz-transform:    scaleY($scaleY);
	-ms-transform:     scaleY($scaleY);
	-o-transform:      scaleY($scaleY);
	transform:         scaleY($scaleY);
}

 
@mixin skew($skewX-angle: 0, $skewY-angle: 0){ 
	-webkit-transform: skew($skewX-angle, $skewY-angle);
	-moz-transform:    skew($skewX-angle, $skewY-angle);
	-ms-transform:     skew($skewX-angle, $skewY-angle);
	-o-transform:      skew($skewX-angle, $skewY-angle);
	transform:         skew($skewX-angle, $skewY-angle);
}
                                                      
@mixin skewX($skewX-angle: 0){ 
	-webkit-transform: skewX($skewX-angle);
	-moz-transform:    skewX($skewX-angle);
	-ms-transform:     skewX($skewX-angle);
	-o-transform:      skewX($skewX-angle);
	transform:         skewX($skewX-angle);
}

@mixin skewY($skewY-angle: 0){ 
	-webkit-transform: skewY($skewY-angle);
	-moz-transform:    skewY($skewY-angle);
	-ms-transform:     skewY($skewY-angle);
	-o-transform:      skewY($skewY-angle);
	transform:         skewY($skewY-angle);
}


@mixin translate($move-x:0, $move-y:0){ 
	-webkit-transform: translate($move-x,$move-y);
	-moz-transform:    translate($move-x,$move-y);
	-ms-transform:     translate($move-x,$move-y);
	-o-transform:      translate($move-x,$move-y);
	transform:         translate($move-x,$move-y);
}


@mixin transition($property: all, $duration: .5s, $tfunction: ease, $delay: 0s){ 
	-webkit-transition: $property $duration $tfunction $delay;
	-moz-transition:    $property $duration $tfunction $delay;
	-ms-transition:     $property $duration $tfunction $delay;
	-o-transition:      $property $duration $tfunction $delay;
	transition:         $property $duration $tfunction $delay;
}


@mixin col-count($count: 1){
	-webkit-column-count: $count;
       -moz-column-count: $count;
        -ms-column-count: $count;
         -o-column-count: $count;
            column-count: $count;
}
@mixin col-gap($gap: 0){
	-webkit-column-gap: $gap;
       -moz-column-gap: $gap;
        -ms-column-gap: $gap;
         -o-column-gap: $gap;
            column-gap: $gap;
}