/* =========================================================
   Fluid grid system for scss
   ========================================================= */
/* Clearfix hack */
@mixin clear{
	clear:both;
	&:before,
	&:after {
	    display: block;
		content: '';
		clear: both;
		height: 0;
	}
}    

/*column mixin: there are four variables, column count for current element, total column count in row, horizontal gutter and vertical gutter
By default it sets to 1 column of 12 total columns without gutters. Note, that gutter sets in percents, not pixels.*/

@mixin column($column-count:1, $total-columns:12, $gutter-hor:0, $gutter-vert:0){	
	float: left;
	width: ((100%/$total-columns)*$column-count) - 2*($gutter-hor*1%);
	
	@if $gutter-hor != 0 or $gutter-vert != 0{			
		margin: ($gutter-vert*1%) ($gutter-hor*1%);
	} 
	@else {
		margin:0;
	}	
} 	
	
/*row-column - column with clearfix, that allows to move it to the new line. Useful for nested grids. Has the same variables as column and in the same order*/
	
@mixin row-column($column-count:1, $total-columns:12, $gutter-hor:0, $gutter-vert:0){	
	width: ((100%/$total-columns)*$column-count) - 2*($gutter-hor*1%);	
	@include clear;
	
	@if $gutter-hor != 0 or $gutter-vert != 0{			
		margin: ($gutter-vert*1%) ($gutter-hor*1%);
	} 
	@else {
		margin:0;
	}	
}

/*offset mixin allows to push column left or right on some distance. Expected settings: distance-column count to move on, total column count in row, horizontal gutter like in other columns. 
By default	it sets to 1 column of 12 total columns without gutters. Gutter units - percents*/

@mixin offset-left($column-count:1, $total-columns:12, $gutter-hor:0){
	margin-right: (100%/$total-columns)*$column-count + ($gutter-hor*1%);
}

@mixin offset-right($column-count:1, $total-columns:12, $gutter-hor:0){
	margin-left: (100%/$total-columns)*$column-count + ($gutter-hor*1%);
} 